{% extends 'services.html' %}
{% block title %}
    Android Development Services
{% endblock %}
{% block service_title %}
    Native Android Development
{% endblock %}
{% block pitch %}
<p>Android has the largest installed base of Smart Phone devices with a market share of <a target=_blank href="http://www.idc.com/prodserv/smartphone-os-market-share.jsp">82.8% in 2015 Q2</a>. The ubiquitous platform coupled with excellent developer support makes it an ideal target platform for businesses. We offer native App development services for ultimate power, development speed and flexibility.</p>

{% include 'goals.html' %}

<br/>
<h4>App Development</h4>
<p>When the desired feature set is well defined, we work on developing a robust piece of software within business constraints. We also have backend developers <a href="/web-development-services/">in-house</a> to support that critical piece of the architecture.</p>
<br/>
<h4>Prototype Development</h4>
<p>Keeping up with the Lean Startup revolution, we also offer prototyping services. Working closely with you, we'll develop a Minimum Viable Product so that you receive and respond to market feedback early and achieve the product-market fit.</p>
{% endblock %}
