{% extends 'services.html' %}
{% block title %}
    iOS Development Services
{% endblock %}
{% block service_title %}
    iOS Development Services
{% endblock %}
{% block pitch %}
<p>iOS <a href="http://www.businessinsider.in/Android-Game-Apps-Are-Becoming-As-Profitable-As-Those-On-The-iPhone/articleshow/46032223.cms">gives a much better ARPU (Average Revenue Per User)</a> than it's competitors in the smart phone market. The platform offers excellent design and development support making it an ideal target for businesses. We offer native App development services for ultimate power, development speed and flexibility.</p>

{% include 'goals.html' %}

<br/>
<h4>App Development</h4>
<p>When the desired feature set is well defined, we work on developing a robust piece of software within business constraints</p>
<br/>
<h4>Prototype Development</h4>
<p>Keeping up with the Lean Startup revolution, we also offer prototyping services. Working closely with you, we'll develop a Minimum Viable Product so that you receive and respond to market feedback early and achieve the product-market fit.</p>
{% endblock %}
