{% extends 'services.html' %}
{% block title %}
    Web Development Services
{% endblock %}
{% block service_title %}
    Web Development Services
{% endblock %}
{% block pitch %}
<p>Web is a great channel to reach out to your customers with zero software installation requirements. It gives great choice for development architecture and the highest productivity for the user because of the large screen real estate.</p>

{% include 'goals.html' %}
<br/>
<h4>Backend development</h4>
<p>Bespoke web development based on the industry wide known <a target=_blank href="https://www.python.org/">Python</a> programming language. <a target=_blank href="http://djangoproject.com">Django</a> and <a target=_blank href="http://flask.pocoo.org/">Flask</a> are our favourite frameworks. We have also experience in implementing projects based on <a target=_blank href="http://php.net/">PHP</a> and <a target=_blank href="https://nodejs.org/">NodeJS</a>.</p>
<br/>
<h4>Frontend  Development</h4>
<p>Web apps are getting more complex by the day and there's an onslaught of new Front-End technologies every day. We have worked with <a target=_blank href="http://facebook.github.io/react/">React JS</a> and <a target=_blank href="http://backbonejs.org">Backbone JS</a> in our projects before. We can deliver snappy, responsive interfaces to keep your users engaged and happy.</p>
<br/>
<h4>Prototype Development</h4>
<p>Keeping up with the Lean Startup revolution, we also offer prototyping services. Working closely with you, we'll develop a Minimum Viable Product so that you receive and respond to market feedback early and achieve the product-market fit.</p>
{% endblock %}
